.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2vmax;
}

.radio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vmax;
}

.radio {
  display: flex;
  flex-direction: row;
  gap: 1vmin;
  align-items: center;

  font-size: min(2.5vh, 5vw);
  font-family: sans-serif;
}

.radio > input {
  height: min(2.5vh, 5vw);
  width: min(2.5vh, 5vw);
}