.str {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vmax;

  width: 100%;
  min-height: 3vh;
  margin-bottom: 4vh;
}

.str:last-child {
  margin-bottom: 0;
}

.str.multiple {
  height: fit-content;
  margin-bottom: 4vh;
}

.select {
  width: 100%;
  padding: 0 1vmin;
  border: 1px solid #666666;

  font-size: min(2.5vh, 5vw);
  font-family: sans-serif;
}

.input-str {
  align-items: flex-start;
}

.text-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1vmin;
}

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.text-input {
  width: 100%;
  height: 3vh;
  border: 1px solid #666666;

  font-size: min(2vh, 5vw);
  font-family: sans-serif;
}


/* btn */
.btn-container {
  justify-self: flex-end;

  display: flex;
  flex-direction: row;
  gap: 1vmin;
}

.btn {
  padding: 0;
  border: none;

  font-size: min(2.5vh, 5vw);
  font-weight: bold;
  color: #000000;

  background-color: transparent;
}

.btn:active {
  text-decoration: underline;
}

/* radio */
.radio-container {
  display: flex;
  flex-direction: row;
  gap: 1vh;

  margin: 1vh 0 2vh;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vmax;

  font-size: min(2.5vh, 5vw);
  font-family: sans-serif;
}

.radio-input {
  height: min(2.5vh, 5vw);
  width: min(2.5vh, 5vw);
}





