.text-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-size: min(5vw, 3vh);
}

.str {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vmin;
}